body {
  font-family: "National", "Helvetica Neue", "Segoe WP", "Helvetica", "Arial";
}

li {
  list-style-type: none;
}

form label {
  font-weight: bold;
}

/* Navigation Bar */
#vicLinksUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav {
  background-color: rgb(204, 204, 204);
  overflow: hidden;
}
#nav a {
  float: left;
  color: rgb(108, 108, 108);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}
#nav a:hover {
  background-color: #ddd;
  color: black;
}
#nav a.active {
  background-color: rgb(40, 86, 58);
  color: white;
}
/* Header */
#headerContainer {
  background-color: #333;
  border-bottom-style: solid;
  border-bottom-color: rgb(40, 86, 58);
  width: 100%;
  overflow: hidden;
}
#logo {
  width: 230px;
  padding-top: 28px;
  padding-left: 20px;
  float: left;
}
#site-intro {
  text-align: center;
  display: inline;
  overflow: hidden;
  line-height: 13px;
}

#site-intro a {
  color: white;
  text-decoration: none;
}

#maintitle {
  padding-top: 0.5%;
  font-weight: normal;
}

#schooltitle {
  font-weight: lighter;
  font-size: 130%;
}

#schoolname {
  font-size: 110%;
  font-style: italic;
  font-weight: lighter;
}

#mainheader {
  color: rgb(40, 86, 58);
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 5%;
}

#footnoteAndZoomContainer {
  /* margin-bottom: -0.1%;
  margin-top: -2.5%; */
  margin-bottom: 1px;
  margin-top: -42px;
}

/* SVG */
#svgDivContainer {
  margin: 1.8%;
  margin-left: 4%;
  margin-right: 4%;
  display: grid;
  flex-flow: column;
}

/* Footnote */
#footnote {
  font-weight: 300;
  font-style: italic;
  font-size: medium;
  color: grey;
  float: left;
  padding-left: 0%;
  padding-right: 5%;
  padding-bottom: 1%;
  order: 0;
}

.searchGuide {
  /* padding-bottom: 2%; */
  /* color: rgb(7, 0, 104); */
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 20px;
}

.footnoteHeader {
  color: rgb(41, 41, 41);
  font-weight: 500;
  padding-bottom: 3px;
}

.footnoteTextInstrc {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: medium;
  font-style: italic;
  font-weight: 500;
}

.footnoteText1 {
  /* padding-bottom: 1%; */
  font-style: normal;
  font-size: larger;
  font-weight: 400;
  color: darkcyan;
  padding-top: 5px;
  padding-bottom: 5px;
}

#footnote > text {
  font-size: small;
}

#zoomBtnContainer {
  margin-bottom: 2%;
  order: 0;
}

#mainSVG {
  border: solid #ddd 0.5px;
  border-radius: 6px;
  order: 1;
}

/* Filter */
/* form {
  margin-left: 4%;
  margin-right: 4%;
} */

.form-group {
  margin-bottom: 1%;
}

.paneltext {
  font-weight: bold;
  font-size: larger;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 2%;
}

.selectpicker {
  color: black;
  font-weight: normal;
  font-size: small;
  width: auto;
  padding-right: 2%;
  padding-left: 2%;
}

.searchContainer {
  /* padding-top: 1%;
  padding-left: 7%; */
}

.searchInput {
  padding: 1%;
}

#searchButton {
  margin-left: 1%;
}

.notes {
  width: 98%;
  font-weight: 300;
  font-style: italic;
  font-size: small;
  padding-left: 1%;
  color: grey;
}

.searchValidation {
  width: 98%;
  font-weight: 300;
  font-style: italic;
  font-size: small;
  padding-left: 2%;
  color: red;
}

#checkboxContainer,
#showLineCheckBoxContainer,
#checkboxLabel,
#lineCheckboxLabel {
  padding-top: 1%;
  padding-left: 2%;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

/* Course Node */

#level100 {
  visibility: hidden;
} /* Hide "level100" node */

/* Zoom buttons */
.btn-sm,
.btn-outline-primary {
  margin-top: 0.6%;
  margin-right: 0.5%;
  margin-bottom: 3%;
  float: right; /* stick buttons to the right side*/
}

/* .btn-outline-secondary {
  width: 3.4% !important;
  height: 3% !important;
  border-radius: 50% !important;
  /*force rounded border: 在HTML网页中css样式是根据优先级来判断使用的，优先级高的css样式会覆盖优先级低的样式，而css属性有很多都具有继承性，这就会影响我们网页显示，我们可以使用!important来改变这种情况。
} */

/* Popup Window */
.popUpWindow {
  background-color: white;
  border: solid;
  border-width: 1px;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  opacity: 0;
}

/* Full course name in tooltip */
#TooltipCourseName {
  color: Blue;
  /* Let it be centered */
  margin: 0 auto;
  text-align: center;
}

/* Filter and CourseInfo Card */

#cardsContainer {
  /* height: 100%;
  width: 100%; */
  padding-top: 2%;
  margin-bottom: -1%;
  display: flex;
}

#filterCard {
  width: 45%;
  margin-left: 4%;
  float: left;
}

#courseInfoCard {
  width: 45%;
  margin-left: 2%;
  margin-right: 4%;
  float: left;
}

#cardBody {
  min-height: 320px;
  /* min-height: 100%; */
}

/* Course info card body */
#courseInfoCardBody {
  height: inherit;
  font-size: 95%;
  /* padding: 3%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%; */
}

/* HTML link */
#cardsContainer > a:hover {
  background-color: yellow;
  text-decoration: underline;
}

/* a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
} */

/* course info card */
.bg-warning {
  opacity: 99%;
}

line {
  stroke: rgb(255, 255, 255);
  stroke-width: 1;
  stroke-linecap: square;
}

/* User Guide */
.userguideTooltip {
  position: relative;
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; */
  cursor: pointer;
  color: rgb(64, 136, 187);
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
  margin-top: 58px;
}

.userguideTooltip .userguideTooltipContent {
  visibility: hidden;
  font-size: small;
  background-color: rgb(233, 241, 223);
  color: black;
  border-style: solid;
  border-width: 0.1px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  text-align: left;
  opacity: 0.95;
  position: absolute;
  z-index: 1;
  padding-left: 10px;
}

.userguideTooltip.active .userguideTooltipContent {
  visibility: visible;
}
